* {
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: #031927;
    color: #F0FFF1;
   
}

#lythia-img {
    width: 5rem;
}


#discord-icon {
    color: #F0FFF1;
}


#welcome-text-phone {
    margin-bottom: 50%;
    margin-left: 35%;
    text-align: left;
}
#welcome-container {
    margin-top: 3%;
}
h1 {
    font-weight: bold;
    font-size: 290%;
}

.warning {
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 2.5rem;

    padding: 5px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3%;}

#warning-text {
    margin-left: 3%;
    position: relative;
    top: 0.5em;
    font-weight: bold;
    font-size: larger;
}

#vorlage {
    text-align: center;
    margin: 3%;
    color: #F0FFF1;
}

#vorlage-a {
    color: #F0FFF1;
    text-decoration: none;
    font-weight: 500;
}


form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
textarea {
    width: 80%;
    height: 20rem;
    background-color: #01090e;
    border-radius: 0.5rem;
    padding: 5px;
}
#abschicken {
    margin-top: 0.5%;
    padding-left: 1%;
    padding-right: 1%;
}

p.vorlage-text {
    margin-top: 10%;
    margin: 1rem auto;
    font-size: 18px;
    width: 80%;    
}
.mainnavbar.scrolled {
    background-color: aliceblue;
    transition: background-color 1s ease-in-out;
}

#mainNavbar {
    color: #F0FFF1;
}

@media (max-width: 987px) {
    #img-div {
        display: none;
    }
    #welcome-text-phone {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-top: 5%;
        margin-bottom: 10%;
        margin-left: auto;
    }
    #warning-text {
        margin-bottom: 5%;
    }
    #mainNavbar {
        color: #F0FFF1;
        background-color: #0a5b8d;
    }

    
}